<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njtech.uhsp.dao.NewsDao">
    <insert id="insert" parameterType="com.njtech.uhsp.entity.News">
        insert into news(id, title, details, type, create_time, update_time)
        values (#{id}, #{title}, #{details}, #{type}, #{createTime}, #{updateTime})
    </insert>

    <select id="findAll" resultType="com.njtech.uhsp.entity.News">
        SELECT *
        FROM news
        ORDER BY create_time DESC
    </select>

    <delete id="delete">
        delete from news where news.id = #{id}
    </delete>
</mapper>